Binaries
DerivedDataCache
Intermediate
Saved
WindowsNoEditor
Releases
DedicateServer
Binaries/Win64
Content/Test/
.vs
.vscode


*.lnk
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
UpdateProject.bat

# Built data for maps
*_BuiltData.uasset